<h1>Parent Component</h1>
<!-- Parent Component : <input type="text" #Pcomp (keyup)="0">
<app-child [Pdata]="Pcomp.value"></app-child> -->
value of child component : {{Cdata}}

<app-child (childevent)="getdata($event)"></app-child>

<h2>Using NgIf</h2>
<input type="radio" name="radio1" (click)="changeValue(true)"> True                     
<!-- keeping name same only one is checked at a time-->
<input type="radio" name="radio1" (click)="changeValue(false)"> False

<!-- <div *ngIf="isValid">
  This is valid data
</div>
<div *ngIf="!isValid">
  This is not valid data
</div> -->

<!-- <div *ngIf="isValid; else elseblock">
  This is valid data
</div>
<ng-template #elseblock>
  <div>
    This is not valid data
  </div>
</ng-template> -->

<div *ngIf="isValid; then thenblock else elseblock"></div>
<ng-template #thenblock>
  <div>
    This is valid data
  </div>
</ng-template>
<ng-template #elseblock>
  <div>
    This is not valid data
  </div>
</ng-template>

<!-- without * -->
<!-- <ng-template [ngIf]="isValid">
  <div>
    This is valid data
  </div>
</ng-template>  -->


<div [ngSwitch]="name">
  <div *ngSwitchCase="'Ram'"> Hello Ram</div>
  <div *ngSwitchCase="'Mohan'"> Hello Mohan</div>
  <div *ngSwitchCase="'Shyam'"> Hello Shyam</div>

  <!-- <div *ngSwitchCase="'Mohan'"> Hello Mohan</div> -->   
  <!-- there is not break statement so we can get output again-->

  <div *ngSwitchDefault>No Data Matched</div>
    <!-- without * -->
  <!-- 
    <ng-template [ngSwitchCase]="'Mohan'">
      <div>Hello Mohan</div>
    </ng-template> 

    <ng-template ngSwitchDefault>
      <div>No Data Matched</div>
    </ng-template> -->
</div>


<!-- Another way  -->
Enter your name : <input type="text" #txtname (keyup)="0"/>
<div [ngSwitch]="txtname.value">
  <div *ngSwitchCase="'Ram'"> Hello Ram</div>
  <div *ngSwitchCase="'Mohan'"> Hello Mohan</div>
  <div *ngSwitchCase="'Shyam'"> Hello Ram</div>
</div>
